body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

.post {
	margin-bottom: 20px;
}

.date {
	font-style: italic;
	margin-bottom: 10px;
}

.content p:first-child {
	font-weight: bold;
}